.modal.open {
  transform: scaleX(1);
  z-index: 1003;
  opacity: 1;
  max-height: 100%;
  top: 10%;
  display: flex;
  padding: 24px;
  overflow: visible;
}

.small.modal {
  max-width: 760px;
}

.full.modal {
  height: 95%;
  width: 95%;
  top: 2%;
}

.modal-overlay {
  z-index: 1002;
  display: block;
  opacity: 0.5;
}


.modal .close {
  position: absolute;
  right: 0;
  top: 0;
}

.modal .btn-row {
  display: flex;
  justify-content: center;
}