.my-modal .modal {
  z-index: 1003;
  opacity: 1;
  max-height: 100%;
  top: 10%;
  display: flex;
  padding: 24px;
  overflow: visible;
}

.my-modal.small .modal {
  max-width: 760px;
}

.my-modal.full .modal {
  height: 95%;
  width: 95%;
  top: 2%;
}

.my-modal .modal-overlay {
  z-index: 1002;
  display: block;
  opacity: 0.5;
}


.my-modal .modal .close {
  position: absolute;
  right: 0;
  top: 0;
}

.my-modal .btn-row {
  display: flex;
  justify-content: center;
}