.share-json-modal-card-content {
  display: flex;
  justify-content: center;
}

.last-generated-url {
  margin-top: 20px;
}

.last-generated-url,
.this-generated-url {
  display: flex;
  align-items: center;
  flex-direction: column;
}