.board {
  display: flex;
  flex-grow: 1;
}

.card-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.vert-nav {
  position: absolute;
  height: 100%;
  padding-top: 60px;
  padding-left: 28px;
}

.vert-nav .btn {
  margin-bottom: 12px;
  padding: 0 9px;
  height: 44px;
  line-height: 44px;
}

.slash {
  position: relative;
  left: 1px;
}

.slash-quote {
  position: relative;
  right: 1px;
}

.card-textarea {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-textarea .card-panel {
  padding: 12px 12px 12px 52px;
}

.textarea-container {
  padding: 12px 12px 12px 0;
}

.error-container {
  padding: 12px;
}

.textarea-container,
.error-container {
  transition: box-shadow .25s;
  border-radius: 2px;
}

.textarea-container textarea {
  white-space: pre;
  overflow-wrap: normal;
}

.card-textarea textarea {
  border: none;
  resize: none;
  outline: none;

}
