.board {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.card-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.vert-nav {
  position: absolute;
  height: 100%;
  padding-top: 60px;
  padding-left: 6px;
}

.vert-nav .btn {
  margin-bottom: 12px;
  padding: 0 5px;
  height: 40px;
  line-height: 40px;
}

.card-textarea {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-textarea .card-panel {
  padding: 32px 12px 12px 96px;
}

.textarea-container,
.error-container {
  padding: 12px;
  transition: box-shadow .25s;
  border-radius: 2px;
}

.textarea-container textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

.diff-button {
  position: absolute;
  left: -28px;
  bottom: 32px;
}

.card-textarea textarea {
  border: none;
  resize: none;
  outline: none;

}
