body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  height: 100%;
  display: flex;
  flex-direction: row;
}

html {
  height: 100%;
}

.full-row,
.full-column,
.full {
  flex-grow: 1;
}

.full-row,
.flex-row {
  display: flex;
  flex-direction: row;
}

.full-column,
.flex-column {
  display: flex;
  flex-direction: column;
}

.word-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
/*
.CodeMirror-empty .CodeMirror-scroll pre {
  color: #777;
}

.CodeMirror-scroll {
  background-color: #eee;
}

.CodeMirror-gutters {
  background-color: #fafafa;
}*/


.textColor .CodeMirror-merge-gap,
.textColor .CodeMirror-merge {
  border: 0;
}

.CodeMirror-merge-scrolllock,
.CodeMirror-merge-copy {
    display: none;
}

.CodeMirror-merge-2pane .CodeMirror-merge-pane {
  width: 49%;
}

.CodeMirror-merge-2pane .CodeMirror-merge-gap {
  width: 2%;
}

.ReactCodeMirror {
  min-width: 100%;
  width: 0;
}

.CodeMirror-wrap pre {
  word-break: break-all;
  /*white-space: nowrap;*/
}

.material-tooltip {
  max-width: 300px;
}
